@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: auto;
    grid-template-rows: 80% 20%;
    
    box-sizing: border-box;
}

.container div{
    border: 1px solid #100000;
}

.banner-image{
    background: url(/assets/img/fitz_rte.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.footer{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(120,120,120,1) 35%, rgba(255,255,255,1) 100%);
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
    font-size: 250%;
}

